.search-main-container {
    background-color: var(--bg-color-secondary);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 50px;
    border-radius: 16px;
}
